body{
    background-color:  hsl(212, 45%, 89%);
    font-size: 15px;
    text-align: center;
}
.card{
    position: absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%, -50%);
    width: 304px;
    background-color: white;
    padding: 16px;

    border-radius:16px;
}
.qr{
    margin: auto;
    margin-bottom: 20px;
    width: 286px;
    height: 286px;
    
}
img{
    border-radius: 16px;
}
.title{
    margin-bottom: 16px;
    font-family: var(--base-font);
    font-weight: 700;
    font-size: 22px;
}
.description {
    font-weight: 400;
    letter-spacing: 0.1875px;
    color: var(--description-color);
  }